*.log
*.zip
repo
agent.key
__pycache__
/bvsupdater.service
*.pyc
*.md5
/venv
/.env
/repository
/Python
bases
Updates
Temp
/nohup.out
/20230301
/ksc/util
#/ksc/util/Backup
#/ksc/util/Bases
#/ksc/util/Data
